<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.moneycontrol" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Add new Activity class name here -->
        <activity android:name=".CreateAccountActivity"></activity>
        <activity android:name=".CreateBankActivity"></activity>
        <activity android:name=".CreateLoanActivity"></activity>
        <activity android:name=".CreateCategoryActivity"></activity>
        <activity android:name=".CreateGastoIngresoActivity"></activity>
        <activity android:name=".GastosPorCategoria"></activity>
        <activity android:name=".GastosPorDia"></activity>
        <activity android:name=".GastosPorMes"></activity>
        <activity android:name=".IngresosPorCategoria"></activity>
        <activity android:name=".IngresosPorDia"></activity>
        <activity android:name=".IngresosPorMes"></activity>
        <activity android:name=".AccountInfoActivity"></activity>
    </application>

</manifest>
