<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.moneycontrol" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <!--Dropbox-->
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-ugps1msaywg3kjm" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />



        <!-- Add new Activity class name here -->
        <activity android:name=".Cuentas.CreateAccountActivity"></activity>
        <activity android:name=".Bancos.CreateBankActivity"></activity>
        <activity android:name=".Prestamos.CreateLoanActivity"></activity>
        <activity android:name=".Categorias.CreateCategoryActivity"></activity>
        <activity android:name=".Transacciones.CreateGastoIngresoActivity"></activity>
        <activity android:name=".Transacciones.CreateTransferActivity"></activity>
        <activity android:name=".Informes.GastosPorCategoria"></activity>
        <activity android:name=".Informes.GastosPorDia"></activity>
        <activity android:name=".Informes.GastosPorMes"></activity>
        <activity android:name=".Informes.IngresosPorCategoria"></activity>
        <activity android:name=".Informes.IngresosPorDia"></activity>
        <activity android:name=".Informes.IngresosPorMes"></activity>
        <activity android:name=".Cuentas.AccountInfoActivity"></activity>
        <activity android:name=".Helpers.ShowWebChartActivity"></activity>


    </application>
</manifest>
